html {
    height: 100%;
}

body {
    background-image: url(../images/prism-background.png);
    background-repeat: repeat;
    height: 100%;
}

.spacer-div {
    margin: 1.5rem 0 1.5rem 0;
}

.page-content {
    flex: 1 0 auto;
}

.card {
    width: 100%;
}

.footer {
    flex-shrink: none;
    background-color: #f0f2f4;
    border-top: 0.5rem solid #4aaaa5;
}