form input {
    display: block;
    clear: both;
    border: 1px solid #dddddd;
    box-sizing: border-box;
    width: 900px;
    padding: 10px;
    margin: 10px 0 10px 0;
}

textarea {
    width: 100%;
    display: block;
    border: 1px solid #dddddd;
    margin: 10px 0 10px 0;
}

button {
    color: white;
    background-color: #4aaaa5;
    padding: 10px 20px;
}