.row {
    margin: 1rem 0 1rem 0;
}


.width-wrapper {
    position: relative;
    overflow: hidden;
    transition: 0.5s;
    border: 2px solid #4aaaa5;
    border-radius: 5px;
}

img {
    width: 100%;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}

.width-wrapper:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.5s;
}

.img-caption {
    width: 100%;
    font-size: 1em;
    position: absolute;
    z-index: 50;
    display: block;
    top: 70%;
    color: white;
    background-color: #4aaaa5;
    text-align: center;
    padding: 0.5em 0 0.5em 0;
}

#modalImg {
    width: 90%;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px solid #4aaaa5;
    border-radius: 5px;
    margin-right: auto;
    margin-left: auto;
}

.modal-footer {
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .img-caption {
        top: 50%;
    }
}

@media screen and (min-width: 992px) {
    .img-caption {
        top: 70%;
    }
}

@media screen and (min-width: 1200px) {
    .img-caption {
        top: 70%;
    }
}