table {
    width: inherit;
    margin-top: 10px;
}

tr {
    height: 220px;
}

td {
    width: calc(100% / 3);
    position: relative;
}
            
td img {
    width: 250px;
}

.img-caption {
    position: absolute;
    z-index: 50;
    display: block;
    width: 250px;
    top: 55%;
    color: white;
    background-color: #4aaaa5;
    text-align: center;
    padding: 10px 0 10px 0;
}